<h1>Your target has been added!</h1>

<table>
  <thead>
    <tr>
      <th>Target type</th>
      <th>Target month</th>
      <th>Target value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @target.type  %></td>
      <td><%= @target.month  %></td>
      <td><%= @target.value  %></td>
    </tr>
</tbody>
</table>
