<h1>Your targets</h1>

<table>
<thead>
<tr>
  <th>Ref</th>
  <th>Target type</th>
  <th>Target month</th>
  <th>Target value</th>
  <th>Target analysis</th>
</tr>
</thead>
<tbody>
<% count = 1 %>
<% @targets.each do |target| %>
<%  %>
<tr>
  <td><%= count %></td>
        <% count += 1 %>
  <td><%= target.type %></td>
  <td><%= target.month %></td>
  <td><%= target.value %></td>
  <% end %>
  <td><a href="/target/analysis">Target status</a></td>
</tr>
</tbody>
</table>