<h1>Create a target</h1>

<form action="/target" method="post">
  <label for="type">Enter the type of target:</label>
  <input type="text" name="type">

  <br>
  <br>

  <label for="month">Enter the month this target is to be achieved in:</label>
  <input type="text" name="month">

  <br>
  <br>

  <label for="value">Enter the target value:</label>
  <input type="number" name="value">

  <br>
  <br>

  <input type="submit" name="Add target">

  <br>
  <br>

</form>