<h1>Your target analysis</h1>

<% @targets.each do |target| %>
<br><%= target.type  %>
<% if @accounts.balance_against_target(target)  == false %>
<br><h5>Target not met, amount to reach target:</h5>
<br><%= @accounts.calculate_amount_to_reach_target(target) %>
<% else %>
<br><h5>Target met! Congratulations!</h5><br>
<% end %>
<% end %>