<h1>Account analysis</h1>

<h5>Total income:</h5>
<p>£<%= @account.account_income %></p>

<h5>Total outgoings:</h5>
<p>£<%= @account.account_outgoings %></p>

<h5>Balance:</h5>
<p>£<%= @account.account_balance %></p>

<!-- <h5>Round-ups:</h5>
<p>£ <%= @account.calculate_round_up_value %></p>
 -->



<!-- #iterate over each transaction in @account and populate a table -->