<h1>Add a tag</h1>

<form action="/tag" method="post">
  <label for="description">Enter tag description:</label>

  <input type="text" name="description">

  <input type="submit" name="Submit tag">
</form>