<body>
<h1>Welcome to your Money Cashboard!</h1>
  <div id="section">
    <a href="/transaction/new"><button type="button" class="button">Add a new transaction</button></a>

    <br><br>

    <a href="/target/new"><button type="button" class="button">Add a new target</button></a>
  </div>
</body>