<!DOCTYPE html>
<html>
<head>
 <title>Money Cashboard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="nav">
     <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/account">Cashboard</a></li>
       <li><a href="/transaction">Transactions</a></li>
       <li><a href="/target">Targets</a></li>
     </ul>
  </div>
 
    <%=yield%>
  
</body>
</html>


