<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Money Cashboard</title>
</head>
<body>
  <div class="header">
    <a href="/">Home</a>
    <a href="/transaction">Transactions</a>
    <a href="/transaction/new">Add a new transaction</a>
    <a href="/merchant/new">Add a new merchant</a>
    <a href="/tag/new">Add a new tag</a>
    <%=yield%>
  </div>
</body>
</html>
