<!DOCTYPE html>
<html>
<head>
 <title>Money Cashboard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="nav">
     <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/account">Your Money Cashboard</a></li>
       <li><a href="/target">Your Targets</a></li>
     </ul>
  </div>

    <%=yield%>
  
</body>
</html>