html, body {
 margin: 5px;
 padding: 5px;
}

.nav ul {
   list-style-type: none;
   margin: 0;
   padding-left: 5px;
   overflow: hidden;
   background-color: #285943;
}

.nav li {
   float: left;
}

.nav li a {
   display: block;
   color: #ffffff ;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: 'Questrial', sans-serif;
   text-transform: uppercase;
}

.nav li a:hover {
   background-color: #77AF9C;
}

.button {
   background-color: #8CD790;
   border: 5px solid #77AF9C;
   border-radius: 5px;
   color: white;
   padding: 20px 42px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 24px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   width: 100%;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.button-on-index {
   background-color: #8CD790;
   border: 2px solid #77AF9C;
   border-radius: 5px;
   color: white;
   padding: 10px 22px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 24px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-on-index:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#section {
   width:350px;
   float:right;
   padding:10px; 
}

body {
   background-color: #D7FFF1;
   font-family: 'Questrial', sans-serif;
}

h1 {
   font-size: 40px;
   font-family: 'Questrial', sans-serif;
   color: #77AF9C;
   text-align: center;
}

table {
   border: 1px solid black;
   width: 100%;
   table-layout: fixed;
}

tr:hover {
   background-color: #f5f5f5;
}

th {
    height: 50px;
    text-align: center;
    vertical-align: center;
    background-color: #8CD790;
}

td {
    height: 50px;
    text-align: center;
    vertical-align: center;
}

#transaction-form {
  width: 500px;
  height: 450px;
  margin: 0 auto;
  border: 2px solid black;
}

/*
---------------------------------------------------------------------
Grid
---------------------------------------------------------------------
*/

.grid-container {
   width : 100%;
   max-width : 1200px; 
   box-sizing: border-box; 
}

.row:before, 
.row:after {
    content:"";
    display: table ;
     clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 16.66%;
    padding: 12px;
}

.col-1{
    width: 16.66%; 
}
.col-2{
    width: 33.33%; 
}
.col-3{
    width: 50%; 
}
.col-4{
    width: 66.664%;
}
.col-5{
    width: 83.33%;
}
.col-6{
    width: 100%;
}

.outline, .outline *{
    outline: 1px solid #F6A1A1; 
}

[class*='col-'] > p {
 background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: center; 
 color: white; 
}




















