<h1>Add a transaction</h1>

<div id="transaction-form">
<form action="/transaction" method="post">
  <label for="merchant_id">Select merchant:</label>

  <select name="merchant_id">
    <%@merchants.each do |merchant| %>
      <option value="<%=merchant.id%>"><%=merchant.name%></option>
    <%end%>
  </select>

  <a href="/merchant/new"><button type="button">Add a new merchant</button></a>

  <br><br><hr>

    <label for="tag_id">Select type of transaction:</label>

    <select name="tag_id">
      <%@tags.each do |tag| %>
        <option value="<%=tag.id%>"><%=tag.description%></option>
      <%end%>
    </select>

    <a href="/tag/new"><button type="button">Add a new category</button></a>

    <br><br><hr>

      <label for="amount">Enter the value of the transaction:</label>

        <input type="number" name="amount" step="any">

    <br><br><hr>

      <label for="date">Date of transaction:</label>

        <input type="date" name="date">

    <br><br><hr>

      <label for="time">Time of transaction:</label>

        <input type="time" name="time">

    <br><br><hr>

      <label for="transaction_type">Transaction type:</label><br>

      <input type="radio" name="transaction_type" value="credit" checked>Credit<br>
      <input type="radio" name="transaction_type" value="debit">Debit<br>

    <br><br><hr>

  <input type="submit" value="Add  transaction">

</form>
</div>
