<h1>Add a transaction</h1>

<form action="/transaction" method="post">
  <label for="merchant_id">Select merchant:</label>

  <select name="merchant_id">
    <%@merchants.each do |merchant| %>
      <option value="<%=merchant.id%>"><%=merchant.name%></option>
    <%end%>
  </select>

  <br><br><hr>

    <label for="tag_id">Select type of transaction:</label>

    <select name="tag_id">
      <%@tags.each do |tag| %>
        <option value="<%=tag.id%>"><%=tag.description%></option>
      <%end%>
    </select>

    <br><br><hr>

      <label for="amount">Enter the value of the transaction:</label>

        <input type="number" name="amount" step="any">

    <br><br><hr>

      <label for="date">Date of transaction:</label>

        <input type="date" name="date">

    <br><br><hr>

      <label for="time">Time of transaction:</label>

        <input type="time" name="time">

    <br><br><hr>

      <label for="transaction_type">Transaction type:</label><br>

      <input type="radio" name="transaction_type" value="Credit" checked>Credit<br>
      <input type="radio" name="transaction_type" value="Debit">Debit<br>

    <br><br><hr>

<!--       <label for="payment_method">Payment method:</label><br>

      <input type="radio" name="payment_method" value="Debit card" checked>Debit card<br>
      <input type="radio" name="payment_method" value="Credit card">Credit card<br> 
      <input type="radio" name="payment_method" value="Cash">Cash<br> 

    <br><br><hr>

      <label for="shopping_method">Shopping method:</label><br>

      <input type="radio" name="shopping_method" value="In store" checked>In store<br>
      <input type="radio" name="shopping_method" value="Online">Online<br> 

    <br><br><hr> -->

  <input type="submit" value="Add  transaction">

</form>
