<h1>Add a merchant</h1>

<form action="/merchant" method="post">
  <label for="name">Enter merchant name:</label>

  <input type="text" name="name">

  <input type="submit" id="button-on-new-form" name="Submit merchant">
</form>
