<h1>Add an album to the library:</h1>

  <form action="/album" method="post">
    <label for="name">Album's name:</label>
    <input type="text" name="name">
    <br><br>

    <select name="artist_id">
      <% @artists.each do |artist| %>
        <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
    </select>

    <input type="submit" value="Add album">

  </form>

<h1>Add a transaction</h1>

<form action="/transaction" method="post">
  <label for="merchant_name">Merchant name:</label>
  <input type="text" name="merchant_name">
  <br><br>

  <input type="submit" value="Add  transaction">

<!-- <form action="/transaction" method="post">
  <label for="merchant_name">Merchant name:</label>
  <input type="text" name="merchant_name">
  <br><br>



#
  CREATE TABLE transactions (
    id SERIAL4 primary key,
    merchant_id INT4 references merchants(id),
    tag_id INT4 references tags(id),
    amount INT2 not null,
    date DATE not null,
    time TIME not null,
    transaction_type VARCHAR(255) not null,
    payment_type VARCHAR(255) not null,
    shopping_method VARCHAR(255) not null
  ); -->



</form>